<div class="block lg:hidden space-y-4">
  <% @posts.each do |post| %>
    <div class="card bg-base-100 shadow-md cursor-pointer"
         onclick="window.location=<%= edit_dashboard_post_path(blog_subdomain: @blog.subdomain, id: post.id).to_json %>;"
         aria-label="Edit post <%= post.title %>">
      <div class="card-body">
        <div class="flex items-center mb-2">
          <% if post.published? %>
            <span class="pr-2" aria-label="published">
              <%= heroicon "check", options: { class: "h-5 w-5" } %>
            </span>
          <% else %>
            <span class="pr-2" aria-label="draft">
              <%= heroicon "document", options: { class: "h-5 w-5" } %>
            </span>
          <% end %>
          <h2 class="card-title"><%= post.title %></h2>
        </div>
        <div class="flex justify-between items-center text-sm text-gray-500">
          <span>
            <%= post.published_at&.strftime('%b %d, %y') || 'Draft' %>
          </span>
          <% if post.published? %>
            <%= link_to post_url(post.slug, subdomain: @blog.subdomain), class: "btn btn-sm btn-ghost", target: "_blank", onclick: "event.stopPropagation();", aria: { label: "View post" } do %>
              <%= heroicon "arrow-top-right-on-square", options: { class: "h-5 w-5 ml-1" } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
