<% if post.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-control w-full mb-4">
  <%= form.label :title, class: "label" %>
  <%= form.text_field :title, class: "input input-bordered w-full" %>
</div>
<div class="flex flex-col lg:flex-row lg:gap-4 mb-4">
  <div class="form-control w-full lg:w-1/2 mb-4 lg:mb-0">
    <%= turbo_frame_tag "post_slug_frame" do %>
      <%= render "slug_field", post: post %>
    <% end %>
  </div>
  <div class="form-control w-full lg:w-1/2">
    <%= form.label :tag_list, class: "label" %>
    <div data-controller="tag-choices"
         data-tag-choices-existing-tags-value="<%= @tags.to_json %>"
         class="tag-choices-wrapper">
      <%= form.hidden_field :tag_list, value: post.tag_list.join(', '), data: { "tag-choices-target": "input" } %>
      <select multiple data-tag-choices-target="select" class="w-full"></select>
    </div>
  </div>
</div>
<div class="form-control w-full mb-4">
  <%= form.label :meta_description, "Meta Description", class: "label" %>
  <%= form.text_area :meta_description, required: false, maxlength: 255, class: "textarea textarea-bordered w-full" %>
</div>
<div class="form-control w-full mb-4" data-controller="marksmith-theme">
  <%= form.label :body, class: "label" %>
  <div data-marksmith-theme-target="wrapper">
    <%= form.marksmith :body_markdown,
        enable_file_uploads: false,
        class: "textarea textarea-bordered w-full",
        style: "min-height: 600px;" %>
  </div>
</div>
<div class="flex flex-col lg:flex-row lg:gap-4 lg:items-end mb-4">
  <div class="form-control w-full lg:w-auto mb-4 lg:mb-0">
    <%= form.label :published, class: "label" %>
    <div class="flex items-center h-12">
      <%= form.check_box :published, class: "checkbox checkbox-primary" %>
    </div>
  </div>
  <div class="form-control w-full lg:flex-1">
    <%= turbo_frame_tag "post_published_at_frame" do %>
      <%= render "published_at_field", post: post %>
    <% end %>
  </div>
</div>
