<% if post.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-control w-full mb-4">
  <%= form.label :title, class: "label" %>
  <%= form.text_field :title, class: "input input-bordered w-full" %>
</div>
<div class="flex flex-col lg:flex-row lg:gap-4 mb-4">
  <div class="form-control w-full lg:w-1/2 mb-4 lg:mb-0">
    <%= form.label :slug, class: "label" %>
    <%= form.text_field :slug, class: "input input-bordered w-full" %>
  </div>
  <div class="form-control w-full lg:w-1/2">
    <div class="tooltip tooltip-right" data-tip="Enter tags as a comma separated list (e.g., 'tag1, tag2')">
      <%= form.label :tag_list, class: "label" %>
    </div>
    <%= form.text_field :tag_list, value: post.tag_list.join(', '), class: "input input-bordered w-full" %>
  </div>
</div>
<div class="form-control w-full mb-4">
  <%= form.label :meta_description, "Meta Description", class: "label" %>
  <%= form.text_area :meta_description, required: false, maxlength: 255, class: "textarea textarea-bordered w-full" %>
</div>
<div class="form-control w-full mb-4">
  <%= form.label :body, class: "label" %>
  <div class="text-sm text-gray-600 mb-2">
    Basic Markdown: **bold**, *italic*, `code`, [link-text](url), # heading, - list item
  </div>
  <%= form.marksmith :body_markdown, rows: 4, style: "min-height: 300px;", class: "textarea textarea-bordered w-full" %>
</div>
<div class="flex flex-col lg:flex-row lg:gap-4 lg:items-end mb-4">
  <div class="form-control w-full lg:w-auto mb-4 lg:mb-0">
    <%= form.label :published, class: "label" %>
    <div class="flex items-center h-12">
      <%= form.check_box :published, class: "checkbox checkbox-primary" %>
    </div>
  </div>
  <div class="form-control w-full lg:flex-1">
    <%= form.label :published_at, class: "label" %>
    <%= form.datetime_field :published_at, class: "input input-bordered w-full" %>
  </div>
</div>
