<div class="flex flex-col items-center justify-center min-h-screen">
  <div class="card w-full lg:w-3/4">
    <div class="card-body" data-controller="autosave">
      <h1 class="card-title text-2xl font-bold">
        Editing post
      </h1>
      <div id="autosave_status"
           data-autosave-target="statusContainer"
           class="sticky top-0 z-10">
        <span data-autosave-target="status" class="badge badge-soft badge-sm badge-neutral">
          Auto-save loading...
        </span>
      </div>
      <%= form_with(model: post,
                    url: form_url,
                    id: form_id,
                    class: "form-control",
                    data: { autosave_target: "form" }) do |form| %>
        <%= render "form_fields", form: form, post: post %>
        <%= turbo_frame_tag "post_buttons" do %>
          <%= render "post_buttons", form: form, post: post %>
        <% end %>
      <% end %>
      <%= turbo_frame_tag "post_actions" do %>
        <%= render "post_actions", post: post %>
      <% end %>
    </div>
  </div>
</div>
