<div class="flex flex-col items-center justify-center min-h-screen">
  <% content_for :title, "Editing post" %>
  <div class="card w-full lg:w-3/4">
    <div class="card-body">
      <h1 class="card-title text-2xl font-bold">Editing post</h1>
      <%= form_with(model: @post, url: dashboard_post_path(@post), id: "edit_post_form", class: "form-control") do |form| %>
        <%= render "form_fields", form: form, post: @post %>
        <div class="form-control w-full mt-6">
          <%= form.submit class: "btn btn-primary w-full" %>
          <% if flash[:form_status] %>
            <div class="mt-4">
              <%= render "shared/form_status", status: flash[:form_status][:type], message: flash[:form_status][:message] %>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- Social Share Image Preview -->
      <div class="divider mt-8"></div>
      <div class="mt-6">
        <h2 class="text-xl font-bold mb-4">Social Share Image Preview</h2>
        <%= social_share_image_preview_for(@post) %>
      </div>
      <div class="card-actions justify-end mt-4">
        <%= button_to "Delete", dashboard_post_path(@post), method: :delete, data: { confirm: 'Are you sure?', turbo: false }, class: "btn btn-error" %>
        <% if @post.published? %>
          <%= link_to "View post", post_url(@post.slug, subdomain: @post.author.subdomain), target: "_blank", class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
