<% if @post.persisted? && @post.errors.empty? %>
  <%= turbo_stream.update "post_slug_frame" do %>
    <%= render "slug_field", post: @post %>
  <% end %>
  <%= turbo_stream.update "post_published_at_frame" do %>
    <%= render "published_at_field", post: @post %>
  <% end %>
<% end %>
<% if @post.errors.any? %>
  <%= turbo_stream.update "error_explanation" do %>
    <div class="alert alert-error">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.update "error_explanation" do %>
    <!-- Clear errors on successful save -->
  <% end %>
<% end %>
