<div class="max-w-4xl mx-auto lg:px-8">
  <% if notice.present? %>
    <p class="alert" id="alert"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert" id="alert"><%= alert %></p>
  <% end %>
  <div class="flex justify-between items-center mb-10">
    <h1>Posts tagged with <%= @tag %></h1>
  </div>
  <div id="posts" class="space-y-2">
    <% if @posts.any? %>
      <%= render partial: 'posts/post_row', collection: @posts %>
    <% else %>
      <div class="empty-state">
        <p class="text-xl">No posts found</p>
      </div>
    <% end %>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
