<% content_for :title, "Blog Posts" %>

<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
  <% if notice.present? %>
    <p class="py-2 px-3 mb-5 font-medium inline-block rounded-md" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-10">
    <h1 class="font-bold text-4xl">Blog Posts</h1>
    <%= link_to "New post", new_post_path, class: "px-3.5 py-2.5 font-medium rounded-md transition duration-200" %>
  </div>

  <div id="posts" class="space-y-2">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
      <div class="border-b border-gray-200 dark:border-gray-700 last:border-0">
        <%= link_to post_path(post), class: "block px-3 py-4 hover:bg-slate-100 dark:hover:bg-slate-800 rounded transition duration-200" do %>
          <h2 class="text-lg font-medium">
            <span><%= post.published_at.strftime("%b %d") %></span> - <%= post.title %>
          </h2>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <div class="text-center py-16 rounded-lg shadow-sm">
        <p class="text-xl">No posts yet</p>
        <p class="mt-2">Create your first blog post to get started</p>
      </div>
    <% end %>
  </div>
</div>
