<% content_for :title, "Posts" %>

<% content_for :head do %>
  <% if @author&.site_meta_description.present? %>
    <meta name="description" content="<%= @author.site_meta_description %>">
  <% end %>
<% end %>

<div class="container-standard">
  <% if notice.present? %>
    <p class="notice" id="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert" id="alert"><%= alert %></p>
  <% end %>

  <div class="flex justify-between items-center mb-10">
    <h1 class="post-title">Posts</h1>
  </div>

  <div id="posts" class="space-y-8">
    <% if @posts.any? %>
      <div class="year-section">
        <div class="posts-list space-y-2">
          <% @posts.each do |post| %>
          <div class="post-card">
            <%= link_to post_path(post.slug), class: "post-card-link" do %>
              <h3 class="text-lg font-medium flex">
                <span class="text-date min-w-[4rem] shrink-0"><%= post.published_at.strftime("%b %d, %Y") %></span>
                <span class="pl-1">- <%= post.title %></span>
              </h3>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="empty-state">
        <p class="text-xl">No posts yet!</p>
      </div>
    <% end %>
    <div class="calendar-navigation mb-6">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
