<% content_for :title, "Showing post" %>

<div class="post-article">
  <% if notice.present? %>
    <p class="notice" id="notice"><%= notice %></p>
  <% end %>

  <article class="prose-custom">
    <p class="text-sm text-gray-500">
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag.name) %>
        <% unless tag == @post.tags.last %>
          ,
        <% end %>
      <% end %>
    </p>

    <h1 class="post-title"><%= @post.title %></h1>
    <div class="post-metadata">
      <p><%= @post.author_name %></p>
      <p>Published on <%= @post.published_at.strftime("%B %d, %Y") %></p>
    </div>

    <div class="post-content">
      <%= render @post %>
    </div>
  </article>

  <div class="section-divider">
    <%= link_to "Back to posts", posts_path, class: "btn-secondary" %>
    <%= link_to "RSS Feed", posts_rss_path(format: :rss), class: "btn-secondary" %>
  </div>
</div>
