<% content_for :title, "Showing post" %>

<div class="container-narrow">
  <% if notice.present? %>
    <p class="notice" id="notice"><%= notice %></p>
  <% end %>

  <article class="prose-custom">
    <h1 class="post-title"><%= @post.title %></h1>
    <div class="post-metadata">
      <p>Published on <%= @post.published_at.strftime("%B %d, %Y") %></p>
    </div>
    
    <div class="pb-4 mb-6">
      <%= render @post %>
    </div>
  </article>

  <div class="section-divider">
    <%= link_to "Back to posts", posts_path, class: "btn-secondary" %>
  </div>
</div>
