<% content_for :title, @post.title %>

<% content_for :head do %>
  <% if @post.meta_description.present? %>
    <meta name="description" content="<%= @post.meta_description %>">
  <% end %>
<% end %>

<div class="post-article">
  <% if notice.present? %>
    <p class="notice" id="notice"><%= notice %></p>
  <% end %>

  <article class="prose-custom">
    <h1 class="post-title"><%= @post.title %></h1>
    <div class="post-metadata">
      <p><%= @post.author_name %></p>
      <p>Published on <%= @post.published_at.strftime("%B %d, %Y") %></p>
    </div>

    <div class="post-content">
        <%# Ensure that even if @post is a Page, we render posts/_post %>
        <% post_partial = "posts/post" %>
        <%= render partial: post_partial, object: @post %>
    </div>
  </article>

  <% if @post.tags.any? %>
    <p class="text-sm text-gray-500 py-8">Tags:
        <% @post.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag.slug) %>
            <% unless tag == @post.tags.last %> , <% end %>
        <% end %>
    </p>
    <% end %>

  <div class="section-divider">
    <%= link_to "Back to posts", posts_path, class: "wc-button-secondary" %>
    <%= link_to "RSS Feed", posts_rss_path(format: :rss), class: "wc-button-secondary" %>
  </div>
</div>
