<%= turbo_frame_tag "footer_form" do %>
  <%= form_with(model: [@blog], url: blog_dashboard_settings_path(@blog.subdomain), method: :patch, id: "#{dom_id(blog)}_footer", class: "form-control", data: { turbo_frame: "footer_form" }) do |form| %>
    <% if blog.errors.any? %>
      <div id="error_explanation" class="alert alert-error">
        <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
        <ul>
          <% blog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-control w-full mb-4">
      <%= form.label :post_footer_markdown, "Post Footer", class: "label" %>
      <%= form.marksmith :post_footer_markdown,
          enable_file_uploads: false,
          required: false,
          'aria-describedby': "post_footer_help",
          maxlength: 10000,
          class: "textarea textarea-bordered w-full",
          style: "min-height: 200px;",
          placeholder: "Write your footer content in Markdown..." %>
      <div id="post_footer_help" class="text-xs text-gray-500 mt-2">
        This footer will appear at the bottom of every blog post on this blog. You can use Markdown formatting.
      </div>
    </div>
    <div class="form-control w-full mt-6">
      <%= form.submit "Update Footer", class: "btn btn-primary w-full" %>
    </div>
  <% end %>
<% end %>
