<%= turbo_frame_tag "footer_form" do %>
  <%= form_with(model: [@blog], url: dashboard_blog_settings_path(@blog.subdomain), method: :patch, id: "#{dom_id(blog)}_footer", class: "form-control", data: { turbo_frame: "footer_form" }) do |form| %>
    <% if blog.errors.any? %>
      <div id="error_explanation" class="alert alert-error">
        <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
        <ul>
          <% blog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-control w-full mb-4" data-controller="quill" data-quill-enable-file-uploads-value="false">
      <%= form.label :post_footer_markdown, "Post Footer", class: "label" %>
      <div data-quill-target="editor" style="min-height: 200px;"></div>
      <%= form.hidden_field :post_footer_html, data: { "quill-target": "input" }, maxlength: 10000 %>
      <div id="post_footer_help" class="text-xs text-gray-500 mt-2">
        This footer will appear at the bottom of every blog post on this blog. You can use rich text formatting.
      </div>
    </div>
    <div class="form-control w-full mt-6">
      <%= form.submit "Update Footer", class: "btn btn-primary w-full" %>
    </div>
  <% end %>
<% end %>
