<%= form_with model: token, url: dashboard_tokens_path, id: "new_token_form", class: "form-control" do |form| %>
  <% if token.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(token.errors.count, "error") %> prohibited this token from being saved:</h2>
      <ul>
        <% token.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-control w-full mb-4">
    <%= form.label :name, "Token name", class: "label" %>
    <%= form.text_field :name, required: true, placeholder: "API Key #1", class: "input input-bordered w-full" %>
  </div>
  <div class="form-control w-full mb-4">
    <%= form.label :expires_at, "Expiration date (optional)", class: "label" %>
    <%= form.date_field :expires_at, class: "input input-bordered w-full" %>
  </div>
  <div class="form-control w-full mt-6">
    <%= form.submit "Generate token", class: "btn btn-primary w-full" %>
  </div>
<% end %>
