<div class="container-narrow">
  <div id="flash" class="flash">
    <% if alert = flash[:alert] %>
      <p class="alert" id="alert"><%= alert %></p>
    <% end %>

    <% if notice = flash[:notice] %>
      <p class="notice" id="notice"><%= notice %></p>
    <% end %>
  </div>

  <div class="willow-card mb-8">
    <h1 class="font-bold text-2xl mb-6">Account Settings</h1>
    
    <%= turbo_frame_tag @user do %>
      <%= render "user_form", user: @user %>
    <% end %>
  </div>

  <div class="willow-card">
    <h1 class="font-bold text-2xl mb-6">API Tokens</h1>
    
    <div class="mb-8">
      <h2 class="text-lg font-medium mb-4">Create New Token</h2>
      <%= turbo_frame_tag "new_token" do %>
        <%= render "token_form", token: @token %>
      <% end %>
    </div>

    <div>
      <h2 class="text-lg font-medium mb-4">Your Tokens</h2>
      <%= turbo_frame_tag "tokens_list" do %>
        <%= render "token_list", tokens: @tokens %>
      <% end %>
    </div>
  </div>
</div>