  <main aria-label="Account Settings" class="container lg:w-3/4 mx-auto">
  <section aria-label="Account Details" class="mb-8">
    <h1 class="text-3xl font-bold mb-4">Account Settings</h1>
    <div class="card p-4">
      <%= render "user_form", user: @user %>
    </div>
  </section>
  <section aria-label="About Page" class="mb-8">
    <h1 class="text-3xl font-bold mb-4">About Page</h1>
    <div class="card p-4">
      <p class="text-zinc-500 text-sm pb-2">
        The About page will show up on the top nav next to the RSS link.
      </p>
      <%= render "page_form", page: @about_page %>
    </div>
  </section>
  <section aria-label="Post Footer" class="mb-8">
    <h1 class="text-3xl font-bold mb-4">Post Footer</h1>
    <div class="card p-4">
      <p class="text-zinc-500 text-sm pb-2">
        This footer will appear at the bottom of every blog post.
      </p>
      <%= render "footer_form", user: @user %>
    </div>
  </section>
  <section aria-label="API Tokens" class="space-y-6">
    <h2 class="text-2xl font-semibold">API Tokens</h2>
    <div class="mb-4">
      <%= link_to "View API Documentation", documentation_url, class: "link link-primary", target: "_blank" %>
    </div>
    <div class="card p-4">
      <h3 class="text-xl font-medium mb-2">Create New Token</h3>
      <%= render "token_form", token: @token %>
    </div>
    <div class="card p-4">
      <h3 class="text-xl font-medium mb-2">Your Tokens</h3>
      <%= render "token_list", tokens: @tokens %>
    </div>
  </section>
</main>
