<!DOCTYPE html>
<html data-theme="<%= @author&.theme || "tokyo" %>">
  <head>
    <title><%= content_for(:title) || (@author ? blog_title_for(@author) : "willow.camp") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <% if @author %>
      <%# RSS feed discovery link %>
      <%= auto_discovery_link_tag(:rss, posts_rss_url(format: :rss, subdomain: @author.subdomain), title: "#{blog_title_for(@author)} RSS Feed") %>
      <%# Atom feed discovery link %>
      <link type="application/atom+xml" rel="alternate" href="<%= posts_atom_url(format: :atom, subdomain: @author.subdomain) %>" title="<%= blog_title_for(@author) %> Atom Feed">
      <%# JSON feed discovery link %>
      <link type="application/feed+json" rel="alternate" href="<%= posts_json_url(format: :json, subdomain: @author.subdomain) %>" title="<%= blog_title_for(@author) %> JSON Feed">
    <% end %>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⛺</text></svg>">
    <!-- <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml"> -->
    <!-- <link rel="apple-touch-icon" href="/icon.png"> -->

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless controller_name == 'home' && action_name == 'show' || controller_name == 'sessions' && action_name == 'new' %>
      <header class="border-b border-[#E5E7EB] dark:border-[#3A3D4D] py-4 px-5">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-xl font-bold text-accent"><%= blog_title_for(@author) %></a>
            <nav class="space-x-4">
                <% if @author.pages.present? %>
                    <% @author.pages.each do |page| %>
                        <a href="<%= post_path(page) %>" class="bg-hover"><%= page.title %></a>
                    <% end %>
                <% end %>
                <a href="<%= posts_rss_path(format: :rss) %>" class="bg-hover" title="RSS Feed">RSS</a>
            </nav>
        </div>
      </header>
    <% end %>

    <main class="max-w-3xl mx-auto px-4 py-8 sm:px-2 sm:py-8">
      <%= yield %>
    </main>

    <footer class="border-t border-[#E5E7EB] dark:border-[#3A3D4D] py-4 px-5 mt-12">
      <% if @author.present? %>
        <div class="container mx-auto text-sm text-muted">
          Made with <%= link_to "willow.camp", root_url(subdomain: false, allow_other_subdomains: true) %>
        </div>
      <% end %>
    </footer>
  </body>
</html>
