<!DOCTYPE html>
<html data-theme="<%= @author&.theme || "light" %>" data-controller="favicon" data-favicon-emoji-value="<%= @author&.favicon_emoji || "⛺" %>">
  <head>
    <title><%= content_for(:title) || "willow.camp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <% if Rails.env.local? %>
      <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22 transform=%22rotate(180,50,50)%22>⛺</text></svg>">
  <% else %>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⛺</text></svg>">
<% end %>
<%= stylesheet_link_tag "marksmith" %>
<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
<%= javascript_importmap_tags %>
</head>
<body class="font-mono">
  <nav class="navbar bg-base-100 shadow-md w-full px-8" aria-label="Main Navigation">
    <div class="navbar-start">
      <a class="text-xl font-bold hover:text-primary transition-colors" href="<%= dashboard_path %>"><%= blog_title_for(@user) %></a>
    </div>
    <div class="navbar-end">
      <a class="link link-hover font-medium" href="<%= dashboard_settings_path %>" role="button" tabindex="0">Settings</a>
    </div>
  </nav>
  <div id="flash-messages" class="w-full flex justify-center py-2">
    <% if notice %>
      <%= render 'shared/flash', type: 'notice', message: notice %>
    <% end %>
    <% if alert %>
      <%= render 'shared/flash', type: 'alert', message: alert %>
    <% end %>
  </div>
  <main class="max-w-6xl mx-auto p-4" aria-label="Dashboard Content">
    <%= yield %>
  </main>
  <footer class="footer p-4 bg-base-200 text-base-content" aria-label="Footer">
    <div class="container mx-auto text-center">
      <p>willow.camp</p>
    </div>
  </footer>
</body>
</html>
